/* Import organized global style modules */
@import "../styles/variables.css";
@import "../styles/base.css";
@import "../styles/utilities.css";
@import "../styles/components.css";
@import "../styles/pages.css";
@import "../styles/responsive.css";
@import "../styles/components/landing-layout.css";
@import "../styles/components/landing-theme.css";
@import "../styles/components/landing-buttons.css";
@import "../styles/components/landing-responsive.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
